# PyCharm
.idea/
*.iml
*.iws
*.ipr
*.xml

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
.venv/
env/
.env/

# Project specific
/audio_downloads/*
!/audio_downloads/.gitkeep

/output/*
!/output/.gitkeep

*.cursorrules
.specstory/*
